*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #f3c50d;
}
.medsos ul li{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-right: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container::after{
    content: " ";
    display:block;
    clear: both;


}

header{
}
header h1{
    float: left;
    padding: 15px 0;
    color: #020202;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #f3c50d;
    color: rgb(0, 0, 0);
}
.active{
    background-color: #f3c50d;
    color: rgb(0, 0, 0);
}
.banner{
    height: 60vh;
    background-image: url(../img/background.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after{
    content: " ";
    display: block;
    position:absolute;
    top: 0;
}
section h3{
    text-align: center;
    padding: 20px 0;
    color: #000000;
}
.about p{
    color: rgb(0, 0, 0);
    word-spacing: normal;
}
footer{
    padding: 30px 0;
    background-color:#f3c50d;
    color: rgb(0, 0, 0);
    text-align: center;
}
.services{
    background-color: #f3c50d;
}
.box{
    color: #000000;
}
.box .col-4 {
    width: 25%;
    padding: 50px;
    box-sizing: border-box;
    border-style: center;
    text-align: justify-all;
    float: left ;
}
.icon{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin-right: 0 auto;
}
.box .col-4 h4{
    margin: 20px 0;
    text-align: center;
}
.box .col-4{
    text-align: center;
}